header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        column-gap: 50px;
        @media screen and (max-width: 667px) {
			gap: 10px;
		}
        a {
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            color: #FF6060;
            &:hover, &.active {
                text-decoration: underline;
            }
            @media screen and (max-width: 667px) {
				font-size: 12px;
				text-transform: uppercase;
			}
        }
    }
    img {
		@media screen and (max-width: 667px) {
			width: auto;
			height: 47px;
		}
	}
}