.imageSlider {
	width: calc(100% - 40px);
	height: 415px;
	margin: 0 auto;
	border-radius: 25px;
	overflow: hidden;
	position: relative;

	.slideImage {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.slideIndex {
		position: absolute;
		left: 50%;
		bottom: 10px;
		color: white;
		font-weight: 500;
		font-size: 18px;
		line-height: 142.6%;
	}

	.buttons {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: none;
		border: none;
		margin: 0 20px;

		&:hover {
			cursor: pointer;
		}

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
		}

		.chevron {
			width: auto;
			height: 80px;

			@media screen and (max-width: 667px) {
				width: 30px;
			}

			&.chevronLeft {
				transform: rotate(180deg);
			}
		}
	}
}