@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import './minireset.scss';

body {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	gap: 50px;
	@media screen and (max-width: 667px) {
		padding-top: 20px;
		gap: 22px;
	}
}

header, main {
	min-width: 380px;
	max-width: 1240px;
	width: 100%;
	align-self: center;
}

main {
	margin: auto;
}